
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}
#app-container{
	.game-canvas{
			margin: 0 auto;
			height: 400px;
			width: 600px;
			background: rgb(15,15,15);
			border: 5px #fff solid;
		}
}
